* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Dosis", sans-serif;
	/* background: #0a0a0a; */
	/* color: #eee; */
}

.home {
	width: 100%;
	height: 100vh;
	background: url(/img/A1.jpg);
	background-size: cover;
	position: relative;
}

/* header */
.header {
	position: -webkit-sticky;
	position: sticky;
	z-index: 999;
	/* sticky or fixed are fine */
	position: fixed;
	top: 0;
	width: 100%;
	transition: background 0.5s; /* control how smooth the background changes */
}
.header.scrolled {
	background: #0a0a0a9c;
}

.logo img {
	width: 120px;
	margin-left: 50px;
}

.navbar {
	width: 300px;
	height: 100%;
	background-color: #0a0a0a;
	position: fixed;
	top: 0;
	right: -300px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 20% 0 0 60%;
	transition: right 0.8s cubic-bezier(0.88, 0.14, 0.29, 0.36);
}
.change {
	right: 0;
}
.hamburger-menu {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 50px;
	right: 50px;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.hamburger-menu:hover .line {
	background: #5e2ced;
}
/* Line */
.line {
	width: 100%;
	height: 2px;
	background: #00c99c;
	transition: all 0.8s;
}

.change .line-1 {
	transform: rotateZ(-45deg) translate(-8px, 6px);
}
.change .line-2 {
	opacity: 0;
}
.change .line-3 {
	transform: rotateZ(45deg) translate(-8px, -6px);
}

/*  ./Line */

.nav-list {
	text-align: center;
}

.nav-item {
	list-style: none;
	margin: 25px;
}

.nav-link {
	text-decoration: none;
	font-size: 22px;
	color: #eee;
	font-weight: 300;
	letter-spacing: 1px;
	position: relative;
	padding: 3px 0;
	text-transform: uppercase;
}

.nav-link::before,
.nav-link::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #00c99c;
	position: absolute;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.5s;
}

.nav-link::before {
	top: 0;
	transform-origin: right;
}

.nav-link::after {
	bottom: 0;
	transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
	transform: scaleX(1);
}

/* title */
.banner_top {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
}

.title {
	font-size: 100px;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
	margin-bottom: 45px;
}
.banner_content p {
	font-size: 18px;
	line-height: 30px;
	color: #6a7695;
	margin-bottom: 53px;
}
.seo_btn_two {
	color: #00c99c;
	background: #d4f6ee;
}
.seo_btn_one {
	color: #5e2ced;
	background: #e8e1fc;
}
.banner_content .seo_btn {
	margin: 0 8px;
}
.seo_btn {
	padding: 11px 40px;
	border-radius: 4px;
	text-decoration: none;
}
.btn_six,
.gr_btn,
.seo_btn {
	display: inline-block;
}
.btn_hover {
	overflow: hidden;
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	z-index: 1;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.seo_btn_two:hover {
	background: #00c99c;
	color: #fff;
}
.seo_btn_one:hover {
	background: #5e2ced;
	color: #fff;
}
.btn_hover:hover {
	color: #fff;
}
a{
	text-decoration: none;
}
